.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 10px;
    height: 10px;
    margin: 1px;
}

.default-square-color {
    background-color: lightgray;
}